<h1>Welcome to Pierre's Treats ADMIN page!</h1>

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>

<p>@Html.ActionLink("Click to edit the Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Click to edit the Treats", "Index", "Treats")</p>
