@model PierresTreats.Models.Flavor

<p><strong>NOTE:</strong> You need to have at least one <strong>treat</strong> before you can add an <strong>flavor</strong>!</p>
<p>Click @Html.ActionLink("here", "Create", "Treats") to add a treat.</p>

<h4>Add a new flavor</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)

  <input type="submit" value="Add new flavor"/>

  <p>@Html.ActionLink("Go back to flavors", "Index")</p>
}
